<template>
	<div class="personal">
		<div class="box">
			<!--表格-->
			<div class="tableBox">
				<el-button size="small" type="primary" icon="el-icon-plus" class="btn-add">增加网站</el-button>
				<el-table :data="tableData" class="table-body" border style="">
					<el-table-column label="id" width="180" header-align="center">
						<template slot-scope="scope">
							<span style="margin-left: 10px">{{ scope.row.id }}</span>
						</template>
					</el-table-column>
					<el-table-column label="名称" width="180" header-align="center">
						<template slot-scope="scope">
							<span style="margin-left: 10px">{{ scope.row.name }}</span>
						</template>
					</el-table-column>
					<el-table-column label="首页网址" width="280" header-align="center">
						<template slot-scope="scope">
							<span style="margin-left: 10px">{{ scope.row.homePath }}</span>
						</template>
					</el-table-column>
					<el-table-column label="网页列表" width="180" header-align="center">
						<template slot-scope="scope">
							<a style="cursor:pointer;color:#3a8ee6" @click="changeRoute(scope.row)">查看</a>
						</template>
					</el-table-column>
					<el-table-column label="操作" header-align="center">
						<template slot-scope="scope">
							<el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
							<el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
						</template>
					</el-table-column>
				</el-table>
			</div>

			<!--分页-->
			<div class="pagination">
				<el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="5" layout="prev, pager, next, jumper" :total="100">
				</el-pagination>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				currentPage: 1,
				tableData: [{
					id: '001',
					name: '螺旋圆舞曲',
					homePath: 'http://www.100bt.com/waltz/main.html'
				}, {
					id: '002',
					name: '奥拉星手游',
					homePath: 'http://www.100bt.com/alx/main.html'
				}, {
					id: '003',
					name: 'Ubeejoy',
					homePath: 'https://www.ubeejoy.com/'
				}, {
					id: '004',
					name: '食物语',
					homePath: 'http://www.100bt.com/swy/'
				}, {
					id: '005',
					name: '造物法则',
					homePath: 'http://www.100bt.com/zwfz/'
				}],
			}
		},
		computed: {
			tabsValue: {
				get: function() {
					//从状态管理器里面获取
					// console.log(this.$store.state.tabsValue)
					return this.$store.state.tabsValue
				},
				set: function() {

				}

			},
			tabsList: {
				get: function() {
					//从状态管理器里面获取
					//console.log(this.$store.state.tabsList)
					return this.$store.state.tabsList
				},
				set: function() {

				}

			}
		},
		methods: {
			changeRoute(target) {
				//改变tab激活状态
				let data = {
					name: target.name,
					path: '/webpageList/' + target.id
				}
				this.$store.commit('addTab', data)

				//改变路由
				this.$router.push({
					name: "网页列表",
					params: {
						id: target.id
					}
				})
			},
			handleEdit(index, row) {
				console.log(index, row);
			},
			handleDelete(index, row) {
				console.log(index, row);
			},

			//分页
			handleSizeChange(val) {
				console.log(`每页 ${val} 条`);
			},
			handleCurrentChange(val) {
				console.log(`当前页: ${val}`);
			}
		}
	}
</script>

<style lang="less" scoped>
	.box {
		border-radius: 2px;
		margin: 15px;
		background-color: #fff;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
		.table-body {
			width: 100%;
			margin-top: 40px;
		}
		.tableBox {
			padding: 10px;
		}
		.btn-add {
			position: absolute;
			left: 25px;
		}
		.pagination {
			padding-bottom: 10px;
			text-align: right;
			margin-right: 5px;
		}
	}
</style>