<template>
  <div class="personal">
      <h1>修改密码</h1>
      <div class="box">

      </div>
  </div>
</template>

<script>

export default {
}
</script>

<style lang="less" scoped>
.box{
    margin: 0 auto;
    width: 1080px;
    height: 500px;
    position: relative;
    border: 1px solid rgba(7,17,27,.1);
    border-radius: 8px;
    box-shadow: 0 8px 24px 0 rgba(7,17,27,.2);
}
</style>
