<template>
  <div class="personal">
      <h1>个人中心</h1>
      <div class="box">
        <div class="wrap">
            <div class="left">
                <!--头像-->
                <div class="avatar">
                    <img src="../../assets/img/gavin.png" alt="">
                    <!--更换头像按钮-->
                    <div class="changeTX">更换头像</div>
                </div>
                <p class="nickname">不一样的美男子</p>
                <ul class="cardList">
                    <li class="cardItm actived">个人信息</li>
                </ul>
            </div>
            <div class="right">
                <ul class=""></ul>
            </div>
        </div>      
      </div>
  </div>
</template>

<script>

export default {
     data() {
      return {
        changeTXVisible: false
      };
    }
}
</script>

<style lang="less" scoped>
.box{
    margin: 0 auto;
    width: 1080px;
    height: 500px;
    position: relative;
    border: 1px solid rgba(7,17,27,.1);
    border-radius: 8px;
    box-shadow: 0 8px 24px 0 rgba(7,17,27,.2);
}
.wrap{
    width: 100%;
    position: relative;
}
.left{
    position: absolute;
    left: 10px;
    top:10px;
    width: 200px;
    height: 480px;
    background-color: #f8fafc;

    .avatar{
        width: 100px;
        height: 100px;
        margin:20px auto;
        position: relative;

        img{
            width: 100%;
            height: 100%;
            border-radius:50%;
        }
    }

    .changeTX{
        display: none;
        position: absolute;
        bottom: 0;
        font-size: 12px;
        color: #fff;
        width: 100px;
        height: 50px;
        line-height: 50px;
        background: #0d0509;
        opacity: 0.7;
        border-radius: 0 0 50px 50px;
        cursor: pointer;

    }
    .avatar:hover .changeTX{
        display: block;
    }

    .cardList{
        padding: 0;

        .actived{
            box-shadow: 5px 10px 24px 0 rgba(7,17,27,.2);
            background: #f01414;
            color:#fff;
        }
        .cardItm{
            height: 50px;
            line-height: 50px;
            margin: 10px 0;
        }
    }
}
.right{
    position: absolute;
    right: 10px;
    top:10px;
    width: 800px;
    height: 480px; 
    background-color: #f8fafc;
}
</style>

