<template>
	<div class="login" @keydown.enter="handleSubmit">
		<div class="loginCon">
			<p class="loginHeadfont">
				欢迎登录数据管理系统
			</p>
			<p class="loginHeadimage">
				<img src="../../public/img/login/avatar.png" width="80" height="80" />
			</p>
			<el-form ref="loginForm" :model="form" class="loginForm">
				<el-form-item prop="userName" :rules="[
      { required: true, message: '账号不能为空',trigger: 'blur' },
    ]">
					<div class="loginUsername">
						<img src="../../public/img/login/username.png" width="18" height="19" />
						<input class="loginInput" v-model="form.userName" type="text" placeholder="请输入用户名" />
					</div>
				</el-form-item>
				<el-form-item prop="password" :rules="[
      { required: true, message: '密码不能为空',trigger: 'blur' },
    ]">
					<div class="loginPassword">
						<img src="../../public/img/login/password.png" width="16" height="19" />
						<input class="loginInput" v-model="form.password" type="password" placeholder="请输入密码" />
					</div>
				</el-form-item>

				<div class="loginBtn">
					<el-button @click="handleSubmit" class="loginSubmit" type="primary" shape="circle">登录</el-button>
				</div>
			</el-form>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				form: {
					userName: '',
					password: '',
					captcha: '0000', //默认验证码，避免初期校验位空，没法发请求
					forgetpad: '', //忘记密码获取是否选中
					autologin: '', //自动登录获取是否选中
				},
				//是否显示验证码
				captcheClass: true,
				captcheImg: '', //验证码
				loginTime: 0, //登录错误累计次数,累计三次登录不成功，需要加上验证码
				requestCode: true, // 判断发送的请求是否已经发送，且有回应，避免多次点击，一次发送多次请求
				rules: {
					userName: [{
						required: true,
						message: '用户名不能为空',
						trigger: 'blur'
					}],
					password: [{
						required: true,
						message: '密码不能为空',
						trigger: 'blur'
					}],
					captcha: [{
						required: true,
						message: '验证码不能为空',
						trigger: 'blur'
					}]
				}
			};
		},
		methods: {
			handleSubmit() {
				let $this = this;
				this.$refs.loginForm.validate((valid) => {
					if(valid) {
						if($this.form.userName == 'admin' && $this.form.password == '1') {
							sessionStorage.hasGo = 'open';
							$this.$router.push('/menu');
						} else {
							$this.$message.error('账号或者密码错误!');
							sessionStorage.hasGo = '';
						}
					}
				});
			}
		}
	}
</script>

<style lang="less">
	@backgroundColor: #ffffff;
	@textalign: center;
	@borderbottom: 1px solid #cccccc;
	#widthless(@size: 100px) {
		width: @size;
	}
	
	#heightless(@size: 100px) {
		height: @size;
	}
	
	#colorless(@size: #ffffff) {
		color: @size;
	}
	
	.login {
		#widthless(100%);
		#heightless(100%);
		/*background-image: url('./img/bglogin.png'); */
		background-image: url('../../public/img/login/bglogin.png');
		background-size: cover;
		background-position: center;
		position: relative;
	}
	
	.loginCon {
		@diff : 200px;
		@diff2 : 230px;
		background-color: @backgroundColor;
		position: absolute;
		right: calc(~"50% - @{diff}");
		top: calc(~"50% - @{diff2}");
		#widthless(400px);
		#heightless(460px);
		border-radius: 5px;
		box-shadow: 1px 1px 15px #474747;
	}
	
	.loginHeadfont {
		font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
		font-size: 22px;
		#colorless(#1a91d7);
		text-align: @textalign;
		margin-top: 23px;
	}
	
	.loginHeadimage {
		#widthless(100%);
		text-align: @textalign;
		margin-top: 20px;
	}
	
	.loginUsername {
		#widthless(300px);
		margin-top: 23px;
		border-bottom: @borderbottom;
		img {
			vertical-align: sub;
		}
	}
	
	.loginInput {
		background: none;
		border: none;
		#widthless(278px);
		#heightless(32px);
		font-size: 14px;
		border-radius: 4px;
		#colorless(#495060);
		background-color: @backgroundColor;
		background-image: none;
		cursor: text;
		text-indent: 5px;
		transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
		&:hover {
			border: none;
		}
		/* &::-moz-placeholder{
			#colorless(#bbbec4);
			opacity:1
		}
		&:-ms-input-placeholder{
			#colorless(#bbbec4);
		}
		&::-webkit-input-placeholder{
			 #colorless(#bbbec4);
		}*/
		&:focus {
			outline: none;
		}
	}
	
	.loginPassword {
		#widthless(300px);
		margin-top: 15px;
		border-bottom: @borderbottom;
		img {
			vertical-align: sub;
		}
	}
	
	.loginVerificationcodeAll {
		float: left;
		#widthless(300px);
		margin-top: 23px;
	}
	
	.loginVerificationcode {
		float: left;
		#widthless(170px);
		border-bottom: @borderbottom;
		img {
			vertical-align: sub;
		}
	}
	
	.loginVerificationcodeImage {
		float: right;
		background-image: url('https://file.iviewui.com/iview-admin/login_bg.jpg');
		#widthless(100px);
		#heightless(33px);
		border-bottom: @borderbottom;
	}
	
	.loginBtn {
		#widthless(300px);
		text-align: @textalign;
		margin-top: 21px;
	}
	
	.loginSubmit {
		#widthless(300px);
		font-size: 16px;
	}
	
	.loginForgetPassword {
		#widthless(300px);
		text-align: @textalign;
		margin-top: 15px;
		margin-left: 56px;
	}
	
	.loginForm {
		margin-left: 50px;
	}
</style>