<template>
	<div class="layout">
		<div class="layout-header">
			<div class="right">
				<div class="avatar"></div>
				<el-dropdown>
					<span class="el-dropdown-link">
						<!--账号名称-->
						<span class="role-name">管理员</span>
					<i class="el-icon-arrow-down el-icon--right"></i>
					</span>
					<el-dropdown-menu slot="dropdown">
						<el-dropdown-item><span @click="addTab({name:'个人中心',path:'/user/personal'});changeRoute({name:'个人中心',path:'/user/personal'})" style="display:inline-block;width:100%">个人中心</span></el-dropdown-item>
						<el-dropdown-item><span @click="addTab({name:'修改密码',path:'/user/changePassword'});changeRoute({name:'修改密码',path:'/user/changePassword'})" style="display:inline-block;width:100%">修改密码</span></el-dropdown-item>
						<div @click="logOut">
							<el-dropdown-item  divided>退出</el-dropdown-item>
						</div>
					</el-dropdown-menu>
				</el-dropdown>
			</div>
		</div>
		<!--侧边栏-->
		<div class="layout-side">
			<div class="ele-logo">
				<span>数据管理后台</span>
			</div>
			<el-menu :default-active="tabsValue" router class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" background-color="#2C3E50" text-color="#fff" active-text-color="#ffd04b">
				<el-menu-item index="/" @click="addTab({name:'网站列表',path:'/'})"><i class="iconfont icon-wangzhan" style="margin-right:8px"></i>网站列表</el-menu-item>
			</el-menu>
		</div>
		
		<!-- 内容核心区域-->
		<div class="layout-body">
			<router-view/>
		</div>
		
		<!-- 页面title展示区域 -->
		<div class="layout-top">
			<el-tabs v-model="tabsValue" type="card" closable @tab-remove="removeTab" @tab-click="activeTab">
				<el-tab-pane v-for="(item) in tabsList" :key="item.path" :label="item.name" :name="item.path">
				</el-tab-pane>
			</el-tabs>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {

			}
		},
		computed: {
			tabsValue: {
				get: function() {
					//从状态管理器里面获取
					return this.$store.state.tabsValue
				},
				set: function() {

				}

			},
			tabsList: {
				get: function() {
					//从状态管理器里面获取
					return this.$store.state.tabsList
				},
				set: function() {

				}

			}
		},
		watch: {},
		methods: {
			changeRoute(target) {
				this.$router.push({
					path: target.path
				})
			},

			handleOpen(key, keyPath) {
				console.log(key, keyPath);
			},
			handleClose(key, keyPath) {
				console.log(key, keyPath);
			},
			addTab(target) {
				this.$store.commit('addTab', target)
			},
			removeTab(tabPath) {
				//console.log(tabPath)
				let tabs = this.tabsList
				let activePath = this.tabsValue
				if(activePath === tabPath && tabs.length > 1) {
					//要关闭的是当前激活的tab
					tabs.forEach((tab, index) => {
						if(tab.path === tabPath) {
							let nextTab = tabs[index + 1] || tabs[index - 1]
							if(nextTab) {
								//this.tabsValue = nextTab.path
								this.$store.commit('setTabsValue', nextTab.path)
								//this.tabsList = tabs.filter(tab=>tab.path !== tabPath)
								let newTabsList = tabs.filter(tab => tab.path !== tabPath)
								this.$store.commit('setTabsList', newTabsList)

								localStorage.setItem('tabsValue', JSON.stringify(this.tabsValue));
								localStorage.setItem('tabsList', JSON.stringify(this.tabsList)); //存起来

								this.$router.push({
									path: nextTab.path
								})
							}
						}
					})
				} else if(tabs.length > 1) {
					//要关闭的不是当前激活的tab
					//this.tabsList = tabs.filter(tab=>tab.path !== tabPath)
					let newTabsList = tabs.filter(tab => tab.path !== tabPath)
					this.$store.commit('setTabsList', newTabsList)

					localStorage.setItem('tabsValue', JSON.stringify(this.tabsValue));
					localStorage.setItem('tabsList', JSON.stringify(this.tabsList)); //存起来
				} else {
					//剩下1个tab不准关闭
					return false
				}
			},
			activeTab(target) {
				//console.log(target)
				this.$store.commit('setTabsValue', target.paneName)
				localStorage.setItem('tabsValue', JSON.stringify(this.tabsValue)); //存起来
				this.$router.push({
					path: target.paneName
				})
			},
			//登出
			logOut(){
				sessionStorage.hasGo = '';
				this.$router.push('login');
			}
		},
		mounted() {
			//获取地址栏路由并添加显示
			let target = {
				name: this.$route.name,
				path: this.$route.path,
				params: this.$route.params
			}
			this.addTab(target)
		},
	}
</script>

<style lang="less" scoped>
	.layout {
		width: 100%;
		height: 100%;
		@import url("//unpkg.com/element-ui@2.4.6/lib/theme-chalk/index.css");
		.layout-header {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1000;
			height: 50px;
			width: 100%;
			background: #fff;
			border-bottom: none;
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
			.title {
				color: #333;
				font-size: 24px;
				position: absolute;
				left: 120px;
			}
			.right {
				position: absolute;
				right: 50px;
				top: 50%;
				transform: translateY(-50%);
			}
			.avatar {
				display: inline-block;
				vertical-align: middle;
				width: 30px;
				height: 30px;
				background: url('../assets/img/gavin.png') no-repeat center;
				background-size: cover;
				border-radius: 100%;
				cursor: pointer;
			}
			.role-name {
				font-size: 14px;
				color: #333;
				margin-left: 15px;
				cursor: pointer;
			}
			.logOut {
				display: inline-block;
				vertical-align: middle;
				margin-left: 20px;
				width: 25px;
				height: 25px;
				background: url('../assets/img/logOut.png') no-repeat center;
				background-size: contain;
			}
		}
		.layout-side {
			position: absolute;
			z-index: 1001;
			left: 0;
			top: 0;
			bottom: 0;
			background: #20222A !important;
			width: 200px;
			border-top: 1px solid #666;
			.ele-logo {
				position: absolute;
				z-index: 2;
				cursor: pointer;
				height: 50px !important;
				line-height: 50px;
				width: 199px;
				background-color: #20222A !important;
				box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
				span {
					font-weight: 300;
					color: rgba(255, 255, 255, .8);
				}
			}
			.el-menu {
				position: relative;
				top: 50px;
				width: 200px;
				background: #20222A !important;
				li {
					background: #20222A !important;
					color: rgba(255, 255, 255, .7) !important;
					text-align: left;
					i {
						margin-right: 17px !important;
					}
					&:hover {
						color: #fff !important;
						i {
							color: #fff;
						}
					}
				}
			}
			.el-menu-item.is-active {
				color: #409EFF !important;
			}
		}
		.layout-body {
			width: auto;
			overflow: auto;
			left: 200px;
			position: absolute;
			z-index: 998;
			right: 0;
			bottom: 0;
			top: 106px;
			background: #e6e6e6;
		}
		.layout-top {
			position: absolute;
			top: 50px;
			left: 200px;
			right: 0;
			width: auto;
			border-bottom: 1px solid #eee;
		}
		
		.el-tabs--card>.el-tabs__header{
			border: 0;
		}
	}
</style>